*, *::before, *::after {
  margin: none;
  padding: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #282D35;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 95px;
  background-color: #22242d;
  color: white;
}

.nav-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-right{
  display: flex;
  align-items: center;
  justify-content: end;
  padding-left: 10px;
  padding-right: 10px;
}

span {
  display: inline-block;
}

p{
  font-size: 20px;
  text-align: center;
}

.nav-logo {
  max-width: 60px;
  display: inline-block; 
}

h1 {
  font-size: 48px;
}

h2 {
  display: inline-block; 
  color: #00D8FF;
  font-size: 32px;
}

section {
  color: white;
  padding: 30px;
  margin-bottom: 100px;
  height: 80vh;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #61DAFB; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

li {
  padding: 8px;
  font-size: 24px;
}

.logo{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}

footer {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #61DAFB;
}